<footer class="bg-dark text-white pt-5">
    <div class="container">
        <div class="row text-center text-md-start">

            <!-- REDES -->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <h5 class="text-warning mb-3">Redes Sociales</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="https://www.facebook.com/" target="_blank" class="text-white text-decoration-none">
                            Facebook
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.instagram.com/" target="_blank" class="text-white text-decoration-none">
                            Instagram
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.youtube.com/" target="_blank" class="text-white text-decoration-none">
                            YouTube
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://web.whatsapp.com/" target="_blank" class="text-white text-decoration-none">
                            WhatsApp
                        </a>
                    </li>
                </ul>
            </div>


            <!-- CONTACTO -->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <h5 class="text-warning mb-3">Contacto</h5>
                <p><i class="bi bi-geo-alt-fill me-2"></i>Av. Siempre Viva 123, Springfield</p>
                <p><i class="bi bi-telephone-fill me-2"></i>+1 555 123 4567</p>
                <p><i class="bi bi-envelope-fill me-2"></i>info@angular.com</p>
            </div>

        </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="text-center py-3 border-top border-secondary mt-4">
        <p class="small mb-0">© 2026 <strong>Facultad de Ingenieria - APU</strong> - Todos los derechos reservados</p>
    </div>
</footer>