<div class="container py-5">
  <!-- Presentación -->
  <div class="text-center mb-5">
    <h1 class="text-primary">Bienvenido a Angular 2026</h1>
    <p class="lead">Framework moderno para construir aplicaciones web dinámicas y escalables.</p>
  </div>

  <!-- Sección de conceptos -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Routing</h5>
          <p class="card-text">Sistema de navegación entre páginas usando routerLink y Routes
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Componentes</h5>
          <p class="card-text">Bloques reutilizables de HTML, CSS y TypeScript que forman la aplicación.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Binding y Expresiones</h5>
          <p class="card-text">Comunicación entre la vista y la lógica con casos de uso específicos</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Propiedades</h5>
          <p class="card-text">Atributos de los componentes que permiten personalizar y reutilizar su comportamiento</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">ngFor</h5>
          <p class="card-text">Directiva para recorrer listas y renderizar elementos dinámicamente </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Pipes</h5>
          <p class="card-text">Transforman datos en la vista, por ejemplo, formateando fechas o números</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Servicios</h5>
          <p class="card-text">Clases que encapsulan lógica reutilizable, como llamadas HTTP o gestión de datos.</p>
        </div>
      </div>
    </div>
  </div>
</div>